<h1 class="header">{{header}}</h1>

<div id="gameContent">
    {{#if gameObj}}
        <div class="group">
            <div><img class="gameImg" src='{{gameObj.image}}' alt="this.name"></div></div>
            <div><b>Name: {{gameObj.name}}</b></div>
            <div>Description: {{gameObj.description}}</div>
            <div>Price: {{gameObj.price}}$ with {{gameObj.discount}}$ discount</div>
            <div>Minimum players: {{gameObj.minimum_players}}</div>
            <div>Maximum players: {{gameObj.maximum_players}}</div>
            <div>Age: {{gameObj.minimum_age}}</div>
            <div>Url: <a href="{{gameObj.url}}">{{gameObj.url}}</a></div>
            <div>Mechanics: 
                {{#each gameObj.mechanics}}
                    {{this}}{{#unless @last}}, {{/unless}}
                {{/each}}
            </div>
            <div>Categories: 
                {{#each gameObj.categories}}
                    {{this}}{{#unless @last}}, {{/unless}}
                {{/each}}
            </div>
            <form action="/my/groups/{{gameObj.id}}/select" method="get">
                <input value="ADD" type="submit" class="gameBtn">
            </form>
        </div>
    {{/if}}
</div>
{{#if error}}
<p><strong>ERROR:</strong> {{error}}</p>
{{/if}}