<h1 class="header">{{header}}</h1>

<div id="groupDetailsContainer">
    {{#if createGroup}}
    <form class="groupDetails" action="/my/groups" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" maxlength="30" required>
        <label for="desc">Description:</label>
        <input type="text" id="desc" name="description" required>
        <input class="gameBtn" type="submit" value="CONFIRM">
    </form>
    {{else}}
    {{#if groupId}}
    <input type="hidden" id="id" name="id" value="{{groupId}}">
    <label for="newName">New Name:</label>
    <input type="text" id="name" name="name" maxlength="30">
    <label for="newDesc">New Description:</label>
    <input type="text" id="description" name="description">
    <input id="edt-grp-{{groupId}}" class="cls-edt-grp" type="button" value="CONFIRM">
    {{/if}}
    {{/if}}

</div>

{{#if error}}
<p><strong>ERROR:</strong> {{error}}</p>
{{/if}}
<script src="/public/client.js"></script>
{{#if groupId}}
<script>
    setupForGroupEdit();
</script>
{{/if}}
<script>
    setupForInput();
</script>