<h1 class="header">{{header}}</h1>

<div id="pageContent">
    {{#if groupRes}}
    {{#if groupSelect}}
    <table>
        {{#each groupRes}}
        <tr>
            <td class="scroll" id="grp-clk-{{id}}"><b>{{this.name}}</b></td>
            <td class="scroll" id="grp-clk-{{id}}">{{this.description}}</td>
            <td class="scroll" id="grp-clk-{{id}}">
                <form action="/my/groups/{{this.id}}/{{../gameId}}" method="POST">
                    <input value="ADD" type="submit" class="gameBtn">
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
    {{else}}
    <a href="/my/groups/new"><button class="gameBtn">CREATE GROUP</button></a>
    <table>
        {{#each groupRes}}
        <tr id="group-{{id}}">
            <td class="scroll" id="grp-clk-{{id}}"><b>{{this.name}}</b></td>
            <td class="scroll" id="grp-clk-{{id}}">{{this.description}}</td>
            <td class="scroll" id="grp-clk-{{id}}">
                <input type="button" value="DELETE" class="cls-del-but" id="grp-del-{{id}}">
                <form action="/my/groups/{{this.id}}/edit" method="GET">
                    <input type="submit" value="EDIT" id="green">
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
    {{/if}}
</div>
{{#if error}}
<p><strong>ERROR:</strong> {{error}}</p>
{{/if}}

{{#if groupRes}}
<script src="/public/client.js"></script>
<script>
    setupForGroupDelete();
    setupForGroupClickable();
</script>
{{/if}}