<h1 id="search">{{header}}</h1>

<div id="gameContent">
    {{#if groupRes}}
        {{#if groupSelect}}
            <table>
                {{#each groupRes}}
                    <tr>
                        <td>
                            <form action="/my/groups/{{this.id}}/{{../gameId}}" method="POST">
                                <input type="submit" value="{{this.name}}">
                            </form>
                        </td>
                        <td>{{this.description}}</td>
                    </tr>
                {{/each}}
            </table>
        {{else}}
            <table>
                {{#each groupRes}}
                    <tr>
                        <td><a href="/my/groups/{{this.id}}/info"><b>{{this.name}}</b></a></td>
                        <td>{{this.description}}</td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
    {{/if}}
</div>
{{#if error}}
<p><strong>ERROR:</strong> {{error}}</p>
{{/if}}
